{% extends 'base.html.twig' %}

{% block title %}Document{% endblock %}

{% block body %}
    <h1>{{ document.subject }}</h1>

    <p>{{ document.body }}</p>

    <h4>Attachments</h4>
    <ul>
        {% for attachment in document.documentAttachments %}
            <li><a href="{{ asset(document_path ~ '/' ~ attachment.path) }}">{{ attachment.type|capitalize }}</a></li>
        {% endfor %}
    </ul>

    <a href="{{ path('document_index') }}">back to list</a>

    <a href="{{ path('document_edit', {'id': document.id}) }}">edit</a>

    {{ include('document/_delete_form.html.twig') }}
{% endblock %}
